{% extends 'base.html' %}
{% block content %}


<h2>Movie Details</h2>
<h3>{{ movie.title }}, {{ movie.movie_id }}</h3>
<br>


 <a href="/movies/{{ movie.movie_id }}">
        <li>Release Date: {{ movie.released_at }}</li>
        <br>
        <li>IMDB Link: {{ movie.imdb_url }}</li>
        <br>
    </a>





      {% if session.get("user_id") %}

      <h4> User to Rate </h4>

      <form action="/movies_processing" method="POST"> {{ movie.title }}
      <br>  
    
      <br>
      What new rating do want to give to the movie? :<br>
      Note- Leave the row above blank in case you do not want to revise the rating
      <input type="number" name="new_rating">
      <br>
        The movie {{ movie.title }} was rated {{ score }} 
      <br>  

      <input type="submit", value = "RATE">

    </form>
{% endif %}


     {% if movie.ratings %}

    <h4>Movie Rating</h4>

      
     {% for rating in movie.ratings %}


      <li><a href="/users/{{rating.user_id}}">The movie was rated {{rating.score}} by the user {{rating.user_id}} 
        </a> 
      </li>



    {% endfor %}
    {% endif %}


{% endblock %}
      